.songs{
  width: 100%;
  box-sizing: border-box;
  .songs-title{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 5px;
    color: #bbb;
    &>div{
      width: 200px;
      font-size: 14px;
      font-size: 12px;
    }
  }
  .songs-content{
    .songs-list{
      width: 100%;
      display: flex;
      border-bottom: 1px solid #eee;
      padding: 10px;
      &>div{
        width: 200px;
        font-size: 14px;
      }
      &:hover{
        background-color: #eee;
      }
    }
  }
}
