.search{
  overflow-y: scroll;
  height: calc(100% - 130px);
  padding: 0px 40px 40px 40px;
  box-sizing: border-box;
  .search-name{
    display:flex;
    a{
      margin: 10px 50px 10px 0px;
      &:hover {
        color: rgb(95, 199, 151);
      }
    }
    .active {
      color: rgb(95, 199, 151);
    }
    .search-bar {
      margin: 6px auto;
      width: 25px;
      height: 3px;
      background-color: rgb(95, 199, 151);
      border-radius: 1.5px;
    }
    .search-bar-hidden {
      display: none;
      cursor: pointer;
    }
  }
  .search-content{

  }
}
