::-webkit-scrollbar {
  width: 0px;
}
.choice {
  overflow-y: scroll;
  height: 420px;
  .banner-img {
    width: 98%;
    height: 100%;
    border-radius: 10px;
  }
  .suggest-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .suggest-title {
      display: flex;
      font-size: 20px;
    }
    .suggest-more {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
      &:hover {
        color: rgb(95, 199, 151);
      }
    }
  }
  .suggest-songs {
    display: flex;
    justify-content: space-between;
    .suggest-songs-item {
      font-size: 14px;
      & > img {
        width: 160px;
        height: 160px;
        border-radius: 10px;
        &:hover {
          transform: translateY(-10px);
          transition: 500ms;
          cursor: pointer;
        }
      }
      & > p:hover {
        color: rgb(95, 199, 151);
        cursor: pointer;
      }
    }
    .newest-songs-item {
      & > img {
        width: 220px;
        height: 130px;
        border-radius: 10px;
        &:hover {
          transform: translateY(-10px);
          transition: 500ms;
          cursor: pointer;
        }
      }
      & > p:hover {
        color: rgb(95, 199, 151);
        cursor: pointer;
      }
    }
  }
}
