.suggest{
  overflow-y: scroll;
  height: calc(100% - 100px);
  .suggest-content{
    display:flex;
    flex-wrap: wrap;
    .suggest-item{
      width: 220px;
      height: 180px;
      margin-right: 5px;
      img{
        width: 220px;
        height: 128px;
        border-radius:10px;
      }
      p{
        margin: 0px;
        font-size: 12px;
      }
    }
  }
}
